{% extends "main/base.html" %}



{% block content %} 


    <style>
        .header{
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7) ),url('https://images.unsplash.com/photo-1603298108410-e6f28ad2708d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmVpZ2hib3Job29kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
            background-size: cover; 
            background-position: center;
            position: relative;
            min-height: 100vh;
        }

    </style>


     <header class="header">
         {% include "nav.html" %}
        <div class="green-button">
            <a href="{%url 'neighbourhood'%} " class="btn btn-outline-info">Get Neigbourhoods</a>
            </div>
     </header> 
     

                  
                   
   


{% endblock content %}
