{% extends "main/base.html" %}



{% block content %}

<style>
    .service-item{
    box-sizing: border-box;
    padding: 50px;
    margin: 20px;
    width: fit-content;
    margin-left: 100px;
    
    background-color: whitesmoke;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5;
  }
  #section{
      float: right;
      margin-top: -250px;
  }
  

  .sevices-item:hover{
    box-shadow: 0 0 40px 0px rgb(0,0,0,0.2);
        }
</style>


<div class="">
    
    <div class="service-item">
      <i class="fas fa-map-marker-alt"></i>
      <h4>{{neighbourhood.name}}</h4>
      <p> Location ~ {{neighbourhood.location}}</p>
      <a href="{% url 'join' neighbourhood.name %}" class="btn btn-outline-info">join</a>
    </div>
  </div>
</a>

{%if page == 'join' %}
<section id="section" class="contact-us-form  mb-5 container">
    <div class="container mb-5">
        <div class="row mb-5">
            <div class="">
                <div class="section-heading">
                    <h4>Join {{obj}} Neigbourhood? </h4>
                </div>
            </div>
            <div class="col-lg-10">
                <form  class='mb-5'id="" action="" method="POST">
                    {%csrf_token%}
                    <div class="row text-center pt-5">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-info text-center"  style="color: #ff1a76; margin-right: 10px;">find different</a>
                        <input type="submit" class="btn btn-outline-info text-center" value="Confirm" style="color: #4376ba; margin-left: 20px;">     
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{%else%}
<p>Leave Neigbourhood</p>
{%endif%}
<section class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="{{neigbourhood.img.url}}" alt="">
                </div>
                <section class="services" id="services">
                    <div class="">
                        <div class="service-item">
                            <h5>Hood admin: {{hood.admin.username}}</h5>
                            <p>Location ~ {{hood.location}}</p>
                            
                        </div>
                    </div>
                </section>


{% endblock %}