{%extends 'main/base.html'%}
{%load static%}
{%include 'nav.html' %}
{%block content%}
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">               
            
          </div>
      </div>
  </div>
</header>

<div class="page-heading">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="header-text">
        <h2>Our Neigbourhoods</h2>
        <div class="div-dec"></div>
      </div>
    </div>
  </div>
</div>
</div>


<section class="services" id="services">
  <div class="container">
    <div class="row">
      {%for neigbourhood in neigbourhoods%}
      {%if neigbourhood.name == member.neigbourhood.name%}
      <a class='col-lg-6' href="{%url 'neigbourhood' neigbourhood.name%}">
        <div class="">
          <div class="service-item">
            <i class="fas fa-map-marker-alt"></i>
            <h4>{{neigbourhood.name}}</h4>
            <p> Location: {{neigbourhood.location}}</p>
            <i class="fas fa-user-check float-end"></i>
            <button>join</button>
          </div>
        </div>
      </a>
     
      {%else%}
      
        <div class="">
          <div class="service-item">
            <i class="fas fa-map-marker-alt"></i>
            <h4>{{neigbourhood.name}}</h4>
            <p> Location ~ {{neigbourhood.location}}</p>
            <a href="{% url 'view' neigbourhood.name  %}" class="btn btn-outline-info">view neibourhood</a>
          </div>
        </div>
      </a>
      {%endif%}
      {%endfor%}
    </div>
  </div> 
</section>

{%endblock%}




