{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% include "nav.html" %}
{% block content %} 
{% include "nav.html" %}

<style>
    form{

border-radius: 20px;
text-align: center;
width: fit-content;
padding: 30px;
margin-left: 250px;
align-items: center;
margin-top: 30px;
background-color: white;
box-shadow: 5px 5px 25px 25px gray;
}
fieldset input{
    height: 40px;
    padding: auto;
    width: 400px;
    border: 0;
    padding-left: 20px;
    border-radius: 10px;
  }


@media(max-width: 800px){
fieldset input{
width: 200px;
}
form{
width: 300px;
margin-left: 30px;
}
#contact{
padding: 10px;
margin-left: 20px;
}
}
</style>

<div class="content_section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
             <legend class="border-bottom mb-4">
                  Reset password
             </legend>
             {{ form|crispy }}
        </fieldset>
        <div class="form-group">
           <button class="btn btn-outline-info" type="submit">request password Reset</button>
        </div>
    </form>
  
</div>

{% endblock content %}