{%extends 'main/base.html'%}
{%block content%}


<div class="container">
    <img src="{{ neighbourhood.img.url }}" alt="">
     <h2>{{ neighbourhood.name }} Neigbourhood</h2>
     <h4>{{ neighbourhood.location }}</h4>
     <h6>{{ neighbourhood.updates.url }}</h6>
     <small class="text-muted">posted {{update.created | timesince}} ago</small>
     {{neibourhood.user.username}}
     <a href="{% url 'updates' neighbourhood.name %}"> update</a>
     <a href="{% url 'business' neighbourhood.name %}">business</a>
</div>


{%endblock%}